img {
    width: 100px;
    height: 100px;
    background: fixed ;
    border: solid 6px pink;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;

}
img:hover {
    border: solid 6px purple;
}
div.c {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
div.c div {
    display: inline-block;
    background-color: aquamarine;
    margin: 6px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px inset black;
}
div#b1 {
    text-align: center;
    display: none;
}
body{
    text-align: center;
    text-size-adjust: 100px;

}
button{
    margin-top: 200px;
    text-shadow: 2px;
}